* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: duckRain;
  src: url(./Fonts/RAINYDAY-Italic.ttf);
}

/* fade in weather backgrounds */
@keyframes fadeBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* main div's */
.duckWeather, 
.duckWeatherStorm, 
.duckWeatherSnow, 
.duckWeatherCloud,
.duckWeatherRain,
.duckWeatherSunny {
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  animation: fadeBackground 0.5s;
}
.duckWeather {
  background-image: url('./Images/clouds.jpg');
}
.duckWeatherStorm {
  background-image: url('./Images/storms.jpg');
}
.duckWeatherSnow {
  background-image: url('./Images/snow.jpg');
}
.duckWeatherCloud {
  background-image: url('./Images/cloudy.jpg');
}
.duckWeatherRain {
  background-image: url('./Images/rain.jpg');
}
.duckWeatherSunny {
  background-image: url('./Images/sunny.jpg');
}



h1 {
  font-family: duckRain;
  font-size: 40px;
}
/* header */
.duck-header {
  /* border: 2px solid black; */
  margin: 40px 0px 10px 0px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  /* font-size: 30px; */
  /* height: 100px; */
}






.weatherToday, .dailyReport, .iconTemp {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
}
/* flexbox overview */
.weatherToday {
  /* border: 2px solid magenta; */
  flex: 1;
}
    /* .dailyReport {
      border: 2px solid gold;
    } */
    .iconTemp {
      /* border: 2px solid limegreen; */
      flex-direction: column-reverse;
      /* justify-content: flex-end; */
      flex: 2.5;
    }
          .dailyIcon {
            /* border: 2px solid grey; */
            /* font-size: 10vw; */
            font-size: 80px;
            display: flex;
            /* margin-top: -15px; */
          }
          .dailyTemp {
            /* border: 2px solid black; */
            /* font-size: 6vw; */
            font-size: 60px;
          }
    .dailyData {
      /* border: 2px solid pink; */
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 15px 22px 0px 20px;
      gap: 10px;

      flex: 3;
      font-size: 20px;
    }
    .rain, .humid, .wind {
      /* border: 2px solid blue; */
      display: flex;
      justify-content: space-between;
    }
    .speed{
      /* border: 2px solid lightblue; */
      text-align: center;
    }







.duckDiv {
  /* position: absolute;
  top: 60%;
  left: 50%; */
  margin-top: 90px;
  /* border: 2px solid red; */
  background-image: url(./Images/duck.svg);
  background-repeat: no-repeat;
  background-size: fit;
  background-position: center;
  width: 200px;
  height: 200px;
  /* margin-left: -100px; */
  /* margin-top: -100px; */
}









/* WEEKLY FORECAST */



/* .weeklyWeather {
  border: 2px solid gold;

} */

.scrollContainer {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  overflow-x: scroll;
  margin-right: 25px;
  margin-left: 25px;
  padding: 5px;
  border-radius: 10px;
}
.timeline {
  /* border: 2px solid limegreen; */
  display: flex;
  gap: 15px;
}
.weatherItem {
  /* border: 2px solid red; */
  background-color: #ffffff66;
  padding: 10px;
  border-radius: 10px;
  width: 320px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px black;
  /* gap: 10px; */
  /* padding: 5px; */
}
.weeklyTitle {
  /* border: 2px solid green; */
  font-family: duckRain;
  font-size: 35px;
  text-align: center;
  padding: 5px 0px 0px 0px;

}
.weatherItemMeat {
  display: flex;
  flex-direction: row;
}




.menuItems {
  display: flex;
  gap: 20px;
}
.dropdownItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  margin: 20px 0px;
}
a {
  text-decoration: none;
  color: black;
}



/* LOCATE WEATHER */

.locateWeather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 120px;
  font-size: 25px;
}