* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: duckRain;
  src: url(./Fonts/RAINYDAY-Italic.ttf);
}
/* main div */
.duckWeather {
  /* border: 2px solid limegreen; */
  /* background-color: #0d2303; */
  background-image: url('./Images/clouds.jpg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* color: white; */
}
h1 {
  font-family: duckRain;
  font-size: 40px;
}
/* header */
.duck-header {
  /* border: 2px solid black; */
  margin: 40px 0px 10px 0px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  /* font-size: 30px; */
  /* height: 100px; */
}






.weatherToday, .dailyReport, .iconTemp, .dailyData {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
}
/* flexbox overview */
.weatherToday {
  /* border: 2px solid magenta; */
  flex: 1;

}
    .dailyReport {
      /* border: 2px solid gold; */
      background-color: #ffffff44;
      /* padding: 0px 0px; */
      border-radius: 10px;
    
      flex-direction: row;
      width: 80vw;
      height: 225px;
    }
    .iconTemp {
      /* border: 2px solid limegreen; */
      flex-direction: column-reverse;
      justify-content: flex-end;
      flex: 3;
    }
          .dailyIcon {
            /* border: 2px solid grey; */
            /* font-size: 10vw; */
            font-size: 125px;
            display: flex;
            margin-top: -15px;
          }
          .dailyTemp {
            /* border: 2px solid black; */
            /* font-size: 6vw; */
            font-size: 60px;
          }
    .dailyData {
      /* border: 2px solid pink; */
      height: 100%;
      justify-content: center;
      gap: 8px;
      flex: 3;
      font-size: 20px;
      text-align: center;
    }
    .dailyData h4 {
      text-decoration: underline;
    }







.duckDiv {
  position: absolute;
  top: 60%;
  left: 50%;
  /* border: 2px solid red; */
  background-image: url(./Images/duck.svg);
  background-repeat: no-repeat;
  background-size: fit;
  background-position: center;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  /* margin-top: -100px; */
}









/* WEEKLY FORECAST */



/* .weeklyWeather {
  border: 2px solid gold;

} */

.scrollContainer {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  overflow-x: scroll;
  margin-right: 25px;
  margin-left: 25px;
}
.timeline {
  /* border: 2px solid limegreen; */
  display: flex;
  gap: 15px;
}
.weatherItem {
  /* border: 2px solid red; */
  background-color: #ffffff44;
  padding: 10px;
  border-radius: 10px;
  width: 320px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  /* padding: 5px; */
}
.weeklyTitle {
  /* border: 2px solid green; */
  font-family: duckRain;
  font-size: 35px;
  text-align: center;
  padding: 5px 0px 10px 0px;

}
.weatherItemMeat {
  display: flex;
  flex-direction: row;
}




.menuItems {
  display: flex;
  gap: 20px;
}
.dropdownItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  margin: 10px 0px;
}
a {
  text-decoration: none;
  color: black;
}



/* LOCATE WEATHER */

.locateWeather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 120px;
  font-size: 25px;
}